@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-color: 0, 0, 0;
  --foreground-rgb: 255, 255, 255;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --font-color: 255, 255, 255;
    --foreground-rgb: 0, 0, 0;
  }
} */

body {
  color: rgb(var(--font-color));
  background-color: rgb(var(--foreground-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
